.topnav {
  position: relative;
  background-color: #323232;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}
.heading {
  color: white;
}
.Title-Subtitle {
  color: rgb(0, 179, 179);
  padding: 2%;
}
